html {
  font-size: -webkit-calc(13.33333333vw);
  font-size: calc(13.33333333vw);
}

@media screen and (max-width: 320px) {
  html {
    font-size: 42.667px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}

@media screen and (min-width: 321px) and (max-width: 360px) {
  html {
    font-size: 48px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}

@media screen and (min-width: 361px) and (max-width: 375px) {
  html {
    font-size: 50px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}

@media screen and (min-width: 376px) and (max-width: 393px) {
  html {
    font-size: 52.4px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}

@media screen and (min-width: 394px) and (max-width: 412px) {
  html {
    font-size: 54.93px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}

@media screen and (min-width: 413px) and (max-width: 414px) {
  html {
    font-size: 55.2px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}

@media screen and (min-width: 415px) and (max-width: 480px) {
  html {
    font-size: 64px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  html {
    font-size: 72px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}

@media screen and (min-width: 541px) and (max-width: 640px) {
  html {
    font-size: 85.33px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}

@media screen and (min-width: 641px) and (max-width: 720px) {
  html {
    font-size: 96px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}

@media screen and (min-width: 721px) and (max-width: 768px) {
  html {
    font-size: 102.4px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}

@media screen and (min-width: 769px) {
  html {
    font-size: 102.4px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}

body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div {
  margin: 0;
  padding: 0;
  border: 0;
}

ul, ol {
  list-style-type: none;
}

input {
  background: none;
  outline: none;
  border: none;
}

select, input, img, select {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
}

select {
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input, textarea {
  font-size: 0.26rem;
  font-family: '微软雅黑';
  box-sizing: border-box;
}
textarea {
  width: 100%;
  padding: .4rem 0;
}
input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}

th {
  border: none;
}

input, textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #9c9c9c;
}

input, textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #9c9c9c;
}

input, textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #9c9c9c;
}

input, textarea::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #9c9c9c;
}

body {
  color: #666;
  font-size: .28rem;
  font-family: "Microsoft Yahei", "Helvetica Neue", "Helvetica,Arial", "sans-serif";
}

body, input {
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #595959;
  text-decoration: none;
}

li {
  list-style: none;
}

.clearfix:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

input, textarea, button {
  border: none;
  outline-color: invert;
  outline-style: none;
  outline-width: 0px;
  border: none;
  border-style: none;
  text-shadow: none;
  -webkit-user-select: text;
  outline-color: transparent;
}

.clearfix {
  zoom: 1;
}

.fl {
  float: left
}

.fr {
  float: right;
}
.icon_list li a.active {
  color: #0493dc;
}
.icon_list li a.active i{
  color: #0493dc;
}
.inner_title {
  font-size: 18px;
  text-align: center;
  color: #015cc8;
  margin-bottom: 20px;
}
.cen_er {
  padding: .28rem;
}

.header {
  position: relative;
  width: 100%;
  background-color: #0bf;
  z-index: 100;
}

.header .logo {
  height: 1rem;
  display: flex;
  justify-content: center;
  padding-top: .6rem;
}

.header .logo .logo_img {
  display: block;
  width: 3rem;
  height: auto;
}

.header .logo .logo_img img {
  display: block;
  width: 100%;
}

.header .top_box {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  align-items: center;
  position: relative;
  top: 0;
  z-index: 9;
  width: 85%;
  height: 1.2rem;
}

.header .top_box a {
  display: block;
  margin: 0 .25rem;
}

.header .top_box .login i {
  display: block;
  width: .6rem;
  height: .6rem;
  font-size: .6rem;
  color: #fff;
}

.search_wrap {
  flex: 1;
}

.top_box .search {
  display: flex;
  height: .72rem;
  border-radius: .5rem;
  background: #fff;
  font-size: 0;
  position: relative;
  overflow: hidden;
}

.top_box .search .ipt {
  flex: 1;
  border: none;
  padding: .2rem;
  background: #fff;
  font-size: .28rem;
  text-indent: .1rem;
  color: #ccc;
  box-sizing: border-box;
}

.top_box .search .btn {
  width: 1rem;
  height: 100%;
  background-size: .4rem .4rem;
}

.mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 200%;
  height: 200%;
  background: rgba(0, 0, 0, .5);
}

.mask.show {
  display: block;
}

div.menu {
  position: absolute;
  width: 4rem;
  height: 100%;
  opacity: 0;
  z-index: 101;
  margin-left: 7.5rem;
  background-color: #fff;
  -webkit-transition: all 500ms cubic-bezier(0, .995, .99, 1);
  -moz-transition: all 500ms cubic-bezier(0, .995, .99, 1);
  -ms-transition: all 500ms cubic-bezier(0, .995, .99, 1);
  -o-transition: all 500ms cubic-bezier(0, .995, .99, 1);
  transition: all 500ms cubic-bezier(0, .995, .99, 1);
}

div.menu ul {
  width: 4rem;
  height: 100%;
}

div.menu.animate {
  margin-left: 3.5rem;
  opacity: 1;
  -webkit-transition: all 500ms cubic-bezier(0, .995, .99, 1);
  -moz-transition: all 500ms cubic-bezier(0, .995, .99, 1);
  -ms-transition: all 500ms cubic-bezier(0, .995, .99, 1);
  -o-transition: all 500ms cubic-bezier(0, .995, .99, 1);
  transition: all 500ms cubic-bezier(0, .995, .99, 1);
  -webkit-box-shadow: 0 0.05rem 0.08rem rgba(0, 0, 0, .08);
  box-shadow: 0 0.05rem 0.08rem rgba(0, 0, 0, .08);
}

div.menu ul li {
  position: relative;
}

div.menu>ul>li a {
  font-size: .3rem;
}

div.menu>ul>li>.link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.menu>ul>li>.link:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

div.menu>ul>li a {
  display: block;
  width: 100%;
  padding: 0 .6rem;
  line-height: 1rem;
  height: 1rem;
  letter-spacing: 0.03rem;
}

div.menu>ul>li>.sub_menu>li>a {
  height: .8rem;
  line-height: .8rem;
  text-indent: .5rem;
}

div.menu>ul>li>.link>i {
  position: absolute;
  right: .8rem;
  top: 0;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  font-size: .3rem;
  text-align: center;
}

div.menu>ul>li.active i {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg)
}

div.menu .sub_menu {
  display: none;
  background-color: #eaeaea;
}

div.burger {
  position: absolute;
  top: 1.88rem;
  right: 0;
  height: .6rem;
  width: .64rem;
  margin: 0 .25rem;
  cursor: pointer;
  z-index: 1000;
}

div.x, div.y, div.z {
  position: absolute;
  top: .1rem;
  bottom: 0;
  background: #fff;
  border-radius: 2px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out
}

div.x, div.y, div.z {
  height: 0.03rem;
  width: .5rem;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out
}

div.y.squize {
  width: 0;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out
}

div.y {
  top: .3rem;
}

div.z {
  top: .5rem;
}

div.open div.x, div.open div.z {
  top: 19px;
  -webkit-transition: all 70ms ease-out;
  -moz-transition: all 70ms ease-out;
  -ms-transition: all 70ms ease-out;
  -o-transition: all 70ms ease-out;
  transition: all 70ms ease-out
}

div.rotate30 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-transition: all 70ms ease-out;
  -moz-transition: all 70ms ease-out;
  -ms-transition: all 70ms ease-out;
  -o-transition: all 70ms ease-out;
  transition: all 70ms ease-out
}

div.rotate150 {
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-transition: all 70ms ease-out;
  -moz-transition: all 70ms ease-out;
  -ms-transition: all 70ms ease-out;
  -o-transition: all 70ms ease-out;
  transition: all 70ms ease-out
}

div.rotate45 {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out
}

div.rotate135 {
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out
}

div.screen {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-transition: all 500ms cubic-bezier(0, .995, .99, 1);
  -moz-transition: all 500ms cubic-bezier(0, .995, .99, 1);
  -ms-transition: all 500ms cubic-bezier(0, .995, .99, 1);
  -o-transition: all 500ms cubic-bezier(0, .995, .99, 1);
  transition: all 500ms cubic-bezier(0, .995, .99, 1);
}

div.screen.animate {
  left: -4rem;
  -webkit-transition: all 500ms cubic-bezier(0, .995, .99, 1);
  -moz-transition: all 500ms cubic-bezier(0, .995, .99, 1);
  -ms-transition: all 500ms cubic-bezier(0, .995, .99, 1);
  -o-transition: all 500ms cubic-bezier(0, .995, .99, 1);
  transition: all 500ms cubic-bezier(0, .995, .99, 1);
}

.top_box .menu ul li a {
  font-size: .3rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  z-index: 99;
}

.footer:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
  transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
  transform-origin: 0 0;
  -webkit-transform: 0 0;
}

.foot_t {
  position: relative;
}

.foot_t:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
  transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
  transform-origin: 0 0;
  -webkit-transform: 0 0;
}

.foot_t a {
  font-size: .3rem;
}

.foot_t .login {
  float: left;
}

.foot_t .help {
  float: right;
}

.foot_t .login a {
  display: inline-block;
  padding: .16rem .3rem;
  margin-right: .2rem;
  margin-bottom: .3rem;
  border-radius: .12rem;
}

.foot_t .login a.item_01 {
  color: #015cc8;
  border: 1px solid #015cc8;
}

.foot_t .login a.item_02 {
  color: #fff;
  background-color: #015cc8;
}

.foot_t .help a {
  display: inline-block;
  padding: .16rem .3rem;
  margin-right: .1rem;
  margin-bottom: .3rem;
}

.foot_b {
  text-align: center;
}

.foot_b .links a {
  display: inline-block;
  padding: .16rem .3rem;
  font-size: .3rem;
}

.toTop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0.5rem;
  bottom: 3rem;
  width: 1rem;
  height: 1rem;
  z-index: 10;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .4);
  border: 1px solid #fff;
}

.toTop a {
  display: block;
}

.toTop a i {
  display: block;
  margin: 0 auto;
  font-size: .7rem;
  color: #fff;
}

.swiper-pagination-bullet {
  width: .12rem !important;
  height: .12rem !important;
  margin: 0 0.08rem !important;
  background-color: #fff !important;
  border-radius: .12rem !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  width: .4rem !important;
  background: #007aff;
}

/* 表单样式 */

.controls {
  margin-bottom: 0.28rem;
}

.controls .controls_wrap {
  display: flex;
  align-items: center;
  padding: 0 0.3rem;
  border: 1px solid #dbdbdb;
}

.controls .controls_wrap i {
  font-size: .3rem;
}

.controls .controls_wrap input {
  height: 0.7rem;
}